::-webkit-scrollbar { width: 16px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #0000006b;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 10px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}