{#{% extends "admin/base.html" %}#}
{% extends "body.html" %}
{% load static %}
{% load widget_tweaks %}
{% load jazzmin %}
<!--Comienzo de la tabla principal -->
{% block content2 %}
    <table class="table table-bordered text-center">
        <tbody>
        <tr>
            <th>
                <p class="text-primary">
                <h2>Ver Cola</h2>
                </p>
            </th>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-block btn-primary btn-lg">Ver Colas</button>
            </td>
        </tr>
        {% comment %}
            <tr>
                <td>
                    <button type="button" class="btn btn-block btn-primary btn-lg">Primary</button>
                </td>
            </tr> {% endcomment %}
        </tbody>
    </table>
    <table class="table table-bordered table-hover">
        <tbody>
        <tr data-widget="expandable-table" aria-expanded="false">
            <td>
                <button type="button" class="btn btn-block btn-primary btn-lg">Ingresar Cliente</button>
            </td>
        </tr>
        <tr class="expandable-body d-none">
            <td colspan="5">
                <h3></h3>
                <div class="input-group mb-3">
                    <input type="text" class="form-control rounded-0" placeholder="Numero de documento"
                           pattern="^[0-9]{6,9}(-[0-9])?\Z">
                    {{ form.text|add_class:'form-control rounded-0'|attr:"placeholder:Numero de documento"|attr:"pattern:[0-9]{6,9}(-[0-9])?\Z"}}
                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat">Go!</button>
                                    </span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    {#{% block javascript %}
        <script>
            $(function (){
                $('.btn-flat').on('click',function(){
                    $.ajax({
                        url: '{% url 'prueba' %}',
                        type: 'POST',
                        data: {id:1},
                        dataType: 'json'
                    }).done(function (data){

                    })
                })});
        </script>
    {% endblock javascript %}#}
{% endblock content2 %}
<!--Termino de la tabla principal -->
