{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load jazzmin %}
{% block extrahead %}

{% endblock %}
{% comment %} {% block nav-sidebar %}{% endblock %} {% endcomment %}
{% block content %}
    {% comment %} <h2>Personas</h2>
        <ul>
            {% for persona in persona_list %}
                <li>{{ persona.nombre }}</li>{% endfor %}
        </ul> {% endcomment %}
    <div class="col-md-12">
        {% block cardblock %}
            <div class="card card-header container">
            <div class="card-header">
                {% comment %} <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    Buttons
                </h3> {% endcomment %}
                <!--Comienzo de la tabla principal -->
                {% block content2 %}
                {% endblock content2 %}
                <!--Termino de la tabla principal -->
            </div>{% endblock cardblock %}
        </div>
    </div>
{% endblock content %}

{% block extrajs %}

    {% block javascript %}

    {% endblock javascript %}

{% endblock extrajs %}
