{#{% extends "admin/base.html" %}#}
{% extends "body.html" %}
{% load static %}
{% load widget_tweaks %}
{% load jazzmin %}
<!--Comienzo de la tabla principal -->
{% block rowmolesto %} {% endblock rowmolesto %}
{% block content %}

    <div class="card card-solid">
        <div class="card-body pb-0">
            <h3><p class="font-weight-bold text-center">Servicios</p>
                <h6><p class="font-weight-bold text-center">{% if cliente %} Cliente {{ cliente.id }} {% endif %}</p>
                </h6>
                <h6><p class="font-weight-bold text-center">{% if cliente %} {{ cliente.persona.nombre }}
                    {{ cliente.persona.apellido }} {% endif %}</p>
                </h6>
                <h6><p class="font-weight-bold text-center">{% if cliente %}Edad: {{ edad }}{% endif %}</p>
                </h6>
                {% if prioridad_list %}
                    {% if errorprioridad %}<div><span id="exampleInputEmail1-error" class="error invalid-feedback text-center">No ha seleccionado ninguna prioridad</span></div>{% endif %}
                    <div class="row btn-group-toggle justify-content-md-center mb-4" data-toggle="buttons">
                        {% for p in prioridad_list %}
                            <label class="col-2 btn btn-primary">
                                <input form="form1" type="radio" name="prioridad" value="{{ p.id }}" id="option1"
                                       autocomplete="off" {% if p.id == 3 and edad < 65 %}
                                       checked {% elif edad >= 65 and p.id == 1 %}
                                       checked {% endif %}> {{ p.descripcion }}
                            </label>
                        {% endfor %}
                    </div>
                {% endif %}
            {% if errorboxradio %}<div><p class="text-danger text-center">No ha seleccionado ninguna box</p></div>{% endif %}
                <div class="row justify-content-center">
                    {#                    <form method="POST" class="col">#}
                    {% for servicio in servicio_list %}
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-dark d-flex flex-fill">
                                <div class="card-header text-muted border-bottom-0">


                                    {#            Digital Strategist#}
                                    {{ servicio.descripcion }}


                                </div>
                                <div class="card-body pt-0 bg-secondary">
                                    <div class="row mt-4">
                                        <div class="col">
                                            {#                                                    <div>{{ box }}</div>#}
                                            {#                                                    <div>{{ box. }}</div>#}

                                            <div class="form-group">
                                                <form id="form1" method="POST" class="row d-flex justify-content-around">
                                                    {% csrf_token %}
                                                    {% for b in box %}


                                                        {% if b.servicio == servicio %}
                                                            <div class="col-6 text-center custom-control custom-radio">
                                                                <input id="customRadio{{ b }}" form="form1"
                                                                       class="custom-control-input" type="radio"
                                                                       name="boxradio" value="{{ b.id }}">

                                                                <label for="customRadio{{ b }}"
                                                                       class="custom-control-label">{{ b.descripcion }}</label>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                        </form>
                                                {#                    <button form="form1" type="submit" class="btn btn-primary float-right">Guardar#}
                                                {#                    </button>#}

                                            </div>
                                            {#                                                <input type='hidden' name='box_nro' value='{{ box }}'>#}

                                        </div>


                                        <!--Termino de la tabla principal -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {#                    </form>#}
                </div>
                {#                <form method="POST">#}
                {#                    {% csrf_token %}#}
                <button form="form1" name="action" value="save" type="submit" class="btn btn-primary float-right mb-4 mr-4">
                    Guardar
                </button>
                <button form="form1" name="action" value="cancel" type="submit" class="btn btn-primary float-right mb-4 mr-4">
                    Cancelar
                </button>
                {#                </form>#}
        </div>
    </div>
{% endblock content %}

    {% block javascript %}
        <script>
        </script>
    {% endblock javascript %}
