{#{% extends "admin/base.html" %}#}
{% extends "body.html" %}
{% load static %}
{% load widget_tweaks %}
{% load jazzmin %}
{% load static %}

    {% block extrahead %}
        <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    {% endblock %}


<!--Comienzo de la tabla principal -->
{% block cardblock %}

    <div class="card col-10 card-header container">
        <div class="card-header">
            {#        ---------------------------------TITULO-----------------------------------#}
            <h3><p class="font-weight-bold text-center">Turnero</p>
            </h3>


            <div id="accordion">
                {#------------------Ingreso-----------------------#}
                {% for servicio in servicio_list %}
                    <div class="card">
                        <div class="card-header" id="heading{{ servicio.id }}">
                            <h5 class="mb-0">
                                <button type="button" class="btn btn-block btn-primary btn-lg" data-toggle="collapse"
                                        data-target="#collapse{{ servicio.id }}"
                                        aria-expanded="{% if client_form.errors %}false{% else %}true{% endif %}"
                                        aria-controls="collapse{{ servicio.id }}">{{ servicio.descripcion }}
                                </button>
                            </h5>
                        </div>
                        <div id="collapse{{ servicio.id }}" class="collapse{% if show and servicio == show.servicio %} show{% endif %}"
                             aria-labelledby="heading{{ servicio.id }}"
                             data-parent="#accordion">
                            <div class="card-body">


                                {#                                <form method="POST">#}
                                {#                                    {% csrf_token %}#}
                                <div id="accordionbox" class="row justify-content-md-center">
                                    {% for b in box %}
                                        {% if servicio == b.servicio %}
                                            <div class="card col-auto text-center">
                                                <div class="" id="headingbox{{ b.id }}">
{#                                                    <h5 class="mb-0">#}
                                                        {#                                                    <button class="btn btn-link collapsed" data-toggle="collapse"#}
                                                        <button class="btn btn-block btn-dark btn-lg collapsed" data-toggle="collapse"
                                                                data-target="#collapsebox{{ b.id }}"
                                                                aria-expanded="false"
                                                                aria-controls="collapsebox{{ b.id }}">
                                                            {{ b.descripcion }}
                                                        </button>
{#                                                    </h5>#}
                                                </div>


                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                    {% for b in box %}
                                        {% if servicio == b.servicio %}
                                            <div id="collapsebox{{ b.id }}" class="collapse {% if show and b == show %} show {% endif %} col-12"
                                                 aria-labelledby="headingbox{{ b.id }}"
                                                 data-parent="#accordionbox" style="">
                                                <div class="card-header border border-dark">
                                                    <div class="card-body">
                                                        <table id="result_list{{ b.id }}" class="table table-striped table-hover">
                                                            <thead>

                                                            <tr>

                                                                <th class="sorting" tabindex="0" rowspan="1"
                                                                    colspan="1">
                                                                    <div class="text">

                                                                        <a>Nro</a>


                                                                    </div>
                                                                </th>

                                                                <th class="sorting" tabindex="0" rowspan="1"
                                                                    colspan="1">
                                                                    <div class="text">

                                                                        <a>Nombre y Apellido</a>


                                                                    </div>
                                                                </th>

                                                                <th class="sorting" tabindex="0" rowspan="1"
                                                                    colspan="1">
                                                                    <div class="text">

                                                                        <a>Documento</a>


                                                                    </div>
                                                                </th>

                                                                <th class="sorting" tabindex="0" rowspan="1"
                                                                    colspan="1">
                                                                    <div class="text">

                                                                        <a>Prioridad</a>


                                                                    </div>
                                                                </th>

                                                                <th class="sorting" tabindex="0" rowspan="1"
                                                                    colspan="1">
                                                                    <div class="text">

                                                                        <a>Hora</a>


                                                                    </div>
                                                                </th>

                                                                <th class="sorting" tabindex="0" rowspan="1"
                                                                    colspan="1">
                                                                    <div class="text text-center">

                                                                        <a>En espera</a>


                                                                    </div>
                                                                </th>

                                                                <th class="sorting" tabindex="0" rowspan="1"
                                                                    colspan="1">
                                                                    <div class="text">

                                                                        <a>Opciones</a>


                                                                    </div>
                                                                </th>


                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {{ counter.cero }}
                                                            {% for c in colalista %}
                                                                    {% if b == c.cola.box %}
                                                                <tr role="row" class="even">
                                                                        <td class="field-id"><a>{{ counter.increment }}</a>
                                                                        </td>
                                                                        <td class="field-nombre_usuario">{{ c.cliente.persona.nombre }} {{ c.cliente.persona.apellido }}</td>
                                                                        <td class="field-nombre_usuario">{{ c.cliente.persona.nro_documento }}</td>
                                                                        <td class="field-area">{{ c.prioridad.getprioridad }}</td>
                                                                        <td class="field-fecha_de_registro nowrap">{{ c.hora }}
                                                                        </td>
                                                                        <td class="field-ultima_conexion nowrap text-center">{% if c.en_espera %}<img src="/static/admin/img/icon-yes.svg" class="mr-4" alt="True">{% else %}<img src="/static/admin/img/icon-no.svg" class="mr-4" alt="False">{% endif %}</td>
                                                                    <td class="field-area"><form method="POST">{% csrf_token %}<button name="delete" value="{{ c }}" type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-user-xmark"></i></button></form></td>
                                                                    </td>
                                                                </tr>

                                                                    {% endif %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                {#                                </form>#}

                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>


        </div>
    </div>
{% endblock cardblock %}

    {% block extrajs %}
        <script type="application/javascript">
$(function (){
            $('.table-striped').DataTable({
                    responsive: true,
                    autoWidth: false
                });
            });
        </script>
    {% endblock extrajs %}
<!--Termino de la tabla principal -->
