{#{% extends "admin/base.html" %}#}
{% extends "body.html" %}
{% load static %}
{% load widget_tweaks %}
{% load jazzmin %}
<!--Comienzo de la tabla principal -->
{% block content2 %}

    <h3><p class="font-weight-bold text-center">Turnero</p>
    </h3>

    <div id="accordion">
        {#------------------Colas-----------------------#}
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
{#                    <form method="POST">#}
                        <a href="{% url 'vercola_name' %}"> <button type="submit" class="btn btn-block btn-primary btn-lg">Colas
                        </button></a>
{#                    </form>#}
                </h5>
            </div>
        </div>
        {#------------------Ingreso-----------------------#}
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-block btn-primary btn-lg" data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="{% if client_form.errors %}false{% else %}true{% endif %}"
                            aria-controls="collapseOne">Ingresar
                        Cliente
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse{% if client_form.errors or client_form.has_changed %} show{% endif %}"
                 aria-labelledby="headingOne"
                 data-parent="#accordion">
                <div class="card-body">


                    <form method="POST">
                        {% csrf_token %}
                        <span class="input-group-append">
                            <input type='hidden' name='action' value='client_nro'>
                        {{ client_form.nro |add_class:"form-control rounded-0"|attr:"placeholder:Numero de documento" }}
                                        <button type="submit" class="btn btn-info btn-flat">Go!</button>
                                    </span>

                        <div class="text-danger">
                            {% if client_form.errors %}

                                {% for field in client_form %}
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </div>

                    </form>

                </div>
            </div>
        </div>
        {#------------------Registro-----------------------#}
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-block btn-primary btn-lg" data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="{% if registro_form.errors %}false{% else %}true{% endif %}"
                            aria-controls="collapseTwo">Registrar
                        Cliente
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse{% if registro_form.errors %} show{% endif %}"
                 aria-labelledby="headingTwo"
                 data-parent="#accordion">
                <div class="card-body">

                    <form method="post">
                        {% csrf_token %}


                        <div class="row">


                            <div class="col">
                                <div class="card-body">

                                    {% for field in registro_form %}
                                        <div class="form-group">
                                            <div class="row">

                                                {#                                    <label class="col-sm-3 text-left" for="id_tipo_documento">Tipo documento<span class="text-red">* </span></label>#}
                                                <label class="col-sm-3 text-left" for="id_tipo_documento">
                                                    {{ field.label }}{% if field.errors %}
                                                        <span class="text-red">* </span>{% endif %}</label>
                                                <div class=" col-sm-7">

                                                    <div class="related-widget-wrapper"
                                                         data-model-ref="tipo de documento">
                                                        {{ field }}
                                                        {#                                            <select name="tipo_documento" required="" id="id_tipo_documento"#}
                                                        {#                                                    data-select2-id="select2-data-id_tipo_documento" tabindex="-1"#}
                                                        {#                                                    class="select2-hidden-accessible" aria-hidden="true">#}
                                                        {#                                                <option value="" selected="" data-select2-id="select2-data-2-lkcw">#}
                                                        {#                                                    ---------#}
                                                        {#                                                </option>#}
                                                        {##}
                                                        {#                                                <option value="1">Cedula de Identidad</option>#}
                                                        {##}
                                                        {#                                                <option value="2">Registro Único de Contribuyente</option>#}
                                                        {##}
                                                        {#                                            </select>#}
                                                        {#                                            <span class="select2 select2-container select2-container--default"#}
                                                        {#                                                           dir="ltr" data-select2-id="select2-data-1-tnek"#}
                                                        {#                                                           style="width: 279.549px;"><span class="selection"><span#}
                                                        {#                                                class="select2-selection select2-selection--single" role="combobox"#}
                                                        {#                                                aria-haspopup="true" aria-expanded="false" tabindex="0"#}
                                                        {#                                                aria-disabled="false"#}
                                                        {#                                                aria-labelledby="select2-id_tipo_documento-container"#}
                                                        {#                                                aria-controls="select2-id_tipo_documento-container"><span#}
                                                        {#                                                class="select2-selection__rendered"#}
                                                        {#                                                id="select2-id_tipo_documento-container" role="textbox"#}
                                                        {#                                                aria-readonly="true" title="---------">---------</span><span#}
                                                        {#                                                class="select2-selection__arrow" role="presentation"><b#}
                                                        {#                                                role="presentation"></b></span></span></span><span#}
                                                        {#                                                class="dropdown-wrapper" aria-hidden="true"></span></span>#}

                                                        {#                                            <a class="related-widget-wrapper-link change-related"#}
                                                        {#                                               id="change_id_tipo_documento"#}
                                                        {#                                               data-href-template="/admin/turnero_app/tipodedocumento/__fk__/change/?_to_field=id&amp;_popup=1"#}
                                                        {#                                               data-popup="yes" title="Change selected tipo de documento"><img#}
                                                        {#                                                    src="/static/admin/img/icon-changelink.svg" alt="Change"></a><a#}
                                                        {#                                                class="related-widget-wrapper-link add-related"#}
                                                        {#                                                id="add_id_tipo_documento" data-popup="yes"#}
                                                        {#                                                href="/admin/turnero_app/tipodedocumento/add/?_to_field=id&amp;_popup=1"#}
                                                        {#                                                title="Add another tipo de documento"><img#}
                                                        {#                                                src="/static/admin/img/icon-addlink.svg" alt="Add"></a><a#}
                                                        {#                                                class="related-widget-wrapper-link view-related"#}
                                                        {#                                                id="view_id_tipo_documento"#}
                                                        {#                                                data-href-template="/admin/turnero_app/tipodedocumento/__fk__/change/?_to_field=id"#}
                                                        {#                                                title="View selected tipo de documento"><img#}
                                                        {#                                                src="/static/admin/img/icon-viewlink.svg" alt="View"></a>#}

                                                    </div>
                                                    {#<p class="text-danger">{{ field.errors }}</p>#}
                                                    <div class="mt-2">
                                                        <span id="terms-error" class="error invalid-feedback"
                                                              style="display: inline;">{{ field.errors }}</span>
                                                    </div>

                                                    <div class="help-block red">

                                                    </div>

                                                    <div class="help-block text-red">

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>
                            </div>


                            <script type="text/javascript" id="django-admin-form-add-constants"
                                    src="/static/admin/js/change_form.js" data-model-name="persona"></script>
                            <script id="django-admin-prepopulated-fields-constants"
                                    src="/static/admin/js/prepopulate_init.js"
                                    data-prepopulated-fields="[]">
                            </script>

                        </div>
                        <div class="right">

                            <input type='hidden' name='action' value='registro_form'>
                            <button type="submit" class="btn btn-primary float-right">Guardar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>


{% endblock content2 %}
<!--Termino de la tabla principal -->

    {% block javascript %}
        <script>

        </script>
    {% endblock javascript %}