{#{% extends "admin/base.html" %}#}
{% extends "body.html" %}
{% load static %}
{% load widget_tweaks %}
{% load jazzmin %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.8.6" integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx" crossorigin="anonymous"></script
{#    <meta http-equiv="refresh" content="5" />#}
{% endblock %}


<!--Comienzo de la tabla principal -->
{% block allpage %}


        <div hx-get="/principal/cola" hx-trigger="every 1s">
            {#        ---------------------------------TITULO-----------------------------------#}
            {#            <h3><p class="font-weight-bold text-center">Turnero</p>#}
            {#            </h3>#}


            <div class="row justify-content-center mx-2">


                {% for servicio in servicio_list %}
                    {% for b in box %}
                        {#                        {{ counter.cero }}#}
                        {% if servicio == b.servicio %}
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-dark d-flex flex-fill">
                                    <div class="card-body text-muted border-bottom-0">


                                        {{ servicio.descripcion }} {{ b.descripcion }}


                                    </div>
                                        <div class="card-header border border-dark" style="height: 100%;">
                                            <div class="card-body">
                                                <table id="result_list{{ b.id }}"
                                                       class="table table-striped table-hover table-sm">
                                                    <thead>

                                                    <tr>

                                                        <th class="sorting" tabindex="0" rowspan="1"
                                                            colspan="1">
                                                            <div class="text">

                                                                <a>Nro</a>


                                                            </div>
                                                        </th>

                                                        <th class="sorting" tabindex="0" rowspan="1"
                                                            colspan="1">
                                                            <div class="text">

                                                                <a>Nombre y Apellido</a>


                                                            </div>
                                                        </th>

                                                        <th class="sorting" tabindex="0" rowspan="1"
                                                            colspan="1">
                                                            <div class="text">

                                                                <a>Documento</a>


                                                            </div>
                                                        </th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {{ counter.cero }}
                                                    {% for c in colalista %}
                                                        {% if b == c.cola.box and counter.get < 3 %}
                                                            <tr role="row" class="even">
                                                                <td class="field-id"><a>{{ counter.increment }}</a>
                                                                </td>
                                                                <td class="field-nombre_usuario">{{ c.cliente.persona.nombre }} {{ c.cliente.persona.apellido }}</td>
                                                                <td class="field-nombre_usuario">{{ c.cliente.persona.nro_documento }}</td>

                                                            </tr>

                                                        {% endif %}


                                                    {% endfor %}
                                                    {% if counter.get == 0 %}<tr role="row" class="even">
                                                        <td colspan="3" class="text-center">No hay datos disponibles</td>
                                                    </tr>{% endif %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>



                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}


            </div>

        </div>
{% endblock allpage %}

<!--Termino de la tabla principal -->
